<!DOCTYPE html>

<head>
    <title>cashier order Page</title>
</head>

<body>
    <h1>Cashier order page</h1>
    <h1> <a href="/"> This is a link to home page</a></h1>
    <h1> <a href="/cashier"> This is a link to cashier page</a></h1>
    <h1> <a href="/cashier/orders"> This is a link to orders page</a></h1>
    <h1> <a href="/cashier/transactions"> This is a link to transactions page</a></h1>
    
</body>