<!DOCTYPE html>
<!-- This will be for finalizing orders for customers -->
<html>
<head>
    <title>Cashier Order Page</title>
    <link rel="stylesheet" href="../css/cashier-style.css">
</head>
<body>
    <header>
        <h1>Orders</h1>
    <!-- Weather should be dislayed here at the top right-->
      <div class = "dropdown">
        <button class = "dropbtn">Welcome [User]</button>
        <div class = "dropdown-content">
            <h1> <a href="/"> This is a link to home page</a></h1>
            <h1> <a href="/cashier"> This is a link to cashier page</a></h1>
            <h1> <a href="/cashier/orders"> This is a link to orders page</a></h1>
            <h1> <a href="/cashier/transactions"> This is a link to transactions page</a></h1>
            <p>Logout</p>
        </div>
      </div>
    </header>
    <div style="overflow-y: auto;">
      <!-- All order items will be here -->
    </div>
    <footer>
      <div>
       <!-- The ammount that is due will be here. Should allign with finalize transaction -->
      </div>
      <span>
        <button>Return to Menu</button>
        <button>Finalize transaction</button>
      </span>
    </footer>
</body>

</html>