<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Employees</h1>
        
        <nav>
            <a href="/">Home</a>
            <a href="/manager/employees">Employees</a>
            <a href="/manager/reports">Reports</a>
            <a href="/manager/menu_inventory">Inventory and Menu</a>
        </nav>
    </header>

    <div class="modify-window">
        <h2>View/Modify placeholder window</h2>
    </div>

    <div class="container">
        <% for (var i in employees) {%>
            <div class="grid">
                <p>Employee info: Employee #<%=employees[i].employee_id%><p>
                <button>View</button>
                <button>Edit</button>
                <button class="delete-button">Delete</button>
            </div>
        <% } %>
    </div>
</body>