<!DOCTYPE html>

<head>
    <title>Employee Page</title>
</head>

<body>
    <h1>Employees</h1>
    <h1> <a href="/menu_inventory"> This is a link to inventory page</a></h1>
    <% for (var i in employees) {%>
        <p>Employee info: employee #<%=employees[i].employee_id%>, weekly hours worked:
        <%=employees[i].weekly_hours_worked%>, manager?: <%=employees[i].manager_access%>, password:
        <%=employees[i].password%>
        <p>
        <button>View</button>
        <button>Edit</button>
        <button>Delete</button>
    <% } %>
</body>