<!DOCTYPE html>
<head>
    <title>Home Page</title>
</head>
<body>
    <header class="main-header">
        <nav class="nav main-nav">
            <ul>
                <li><a href="/employees">Employees</a></li>
                <li><a href="/managers">Managers</a></li>
                <li><a href="/menu_inventory">Inventory</a></li>
                <li><a href="/reports">Reports</a></li>
            </ul>
        </nav>
    </header>
    <p>This is <%=name%>'s homepage.</p>
    <h1> <a href="/manager/reports">manager</a> </h1>
    <h1> <a href="/customer">customer</a> </h1>
    <h1> <a href="/cashier">cashier</a> </h1>

</body>