<!DOCTYPE html>
<head>
    <title>Home Page</title>
</head>
<body>
    <p>This is <%=name%>'s homepage.</p>
    <h1> <a href="/manager/reports">manager</a> </h1>
    <h1> <a href="/customer">customer</a> </h1>
    <h1> <a href="/cashier">cashier</a> </h1>
</body>