<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/landing_page_style.css">
    <title>Login</title>
</head>
<body>
    <div class="page-wrapper">
        <div class="nav-links">
            <a href="/">Home</a> |
            <a href="/cashier">Cashier</a> |
            <a href="/cashier/orders">Orders</a> |
            <a href="/cashier/transactions">Transactions</a>
        </div>

        <div class="login-container">
            <h2>Login</h2>
            <form id="loginForm">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

            </form>
            <a href="/manager/reports">
                <button type="button" class="button-login">Login</button>
            </a>
        </div>

        <div class="order-container">
            <a href="/customer">
                <button type="button" class="button-order">Start Order</button>
            </a>
        </div>
    </div>
</body>
</html>
