<!DOCTYPE html>
<head>
    <title>Manager Page</title>
</head>
<body>
    <header class="main-header">
        <nav class="nav main-nav">
            <ul>
                <li><a href="employees.ejs">Emplyees</a></li>
                <li><a href="menu_inventory.ejs">Inventory</a></li>
                <li><a href="reports.ejs">Reports</a></li>
            </ul>
        </nav>
        <button onclick="toggleStyleSheet()" class="button-main">Toggle</button>
        <h1 class="page-title">Howdy I'm Anuraag Ayancha</h1>
    </header>
    <p>This is <%=name%>'s homepage.</p>
</body>