<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/manager_logic.js"></script>
</head>

<body>
    <header>
        <h1>Reports</h1>

        <nav>
            <a href="/">Home</a>
            <a href="/manager/employees">Employees</a>
            <a href="/manager/reports">Reports</a>
            <a href="/manager/menu_inventory">Inventory and Menu</a>
        </nav>
    </header>

    <div class="reports-container">
        <div class="graph-area">
            <h1>Graph</h1>
            <input type="date" id="start" value="2018-07-22" min="2016-01-01" max="2030-12-31" />
            <input type="date" id="end" value="2018-07-22" min="2016-01-01" max="2030-12-31" />
            <button onclick="display_graph()">Graph</button>
            
            <!--When dynamically counting addons, use the addon column names and use a for loop for dynamics-->

            <canvas id="myChart"></canvas>
        </div>

        <div class="z-report">
            <h1 id="report-header">Z-Report</h1>
            <button onclick="display_z_report()">Display Z-Report</button>
            
            <table id="sales-table" cellspacing=0 border=1>
                
            </table>

            <table id="amount-sold-table" cellspacing=0 border=1>
                
            </table>
        </div>

        <div class="x-report">
            <h1>X-Report for today</h1>
            <button onclick="display_x_report()">Display X-Report</button>
        </div>
    </div>
    
    <script src="/js/chart_generation.js"></script>
</body>