.inventory-container {
    grid-template-columns: 4;
    gap: 10px;
    border-color: black;
}

/*Dropdown button code from WE schools: https://www.w3schools.com/html/html_css.asp */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: inline;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


  body{
    font-family: Arial, Helvetica, sans-serif;
  }

  .menu-items{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .menu-item-button{
    border: 1px solid;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 220px;
  }

  .menu-item-button img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.popup.active {
    display: block;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-overlay.active {
    display: block;
}

.checkout-menu {
    border: 1px solid #000;
    padding: 10px;
    min-height: 200px;
}