body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.content {
    width: 70%; /* Space for checkout box */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 100px;
}

.container {
    display: flex;
    border: 2px solid #000;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 100%;
}

.img-box {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details {
    margin-left: 10px;
}

.customize-button, .add-to-cart-button {
    width: 100%;
    padding: 10px 70px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

.customize-button:hover {
    background-color: #0056b3;
}

.add-to-cart-button {
    background-color: #4CAF50;
}

.add-to-cart-button:hover {
    background-color: #357c39;
}
